<h1>{{title}}</h1>
<img src="{{image_url}}" alt="{{info}}" />
<footer>
	{{user.username}} || {{likes}}
</footer>
<a href="#" class="feature">Feature</a> - <a href="#" class="delete">Delete</a>
<div class="score">
	<form method="post" action="">
		<input type="range" class="range-points" name="points" min="0" max="10" value="0" />
		<input type="submit" class="submit-points" value="Give 0 points" />
	</form>
</div>